//!Color
$white: "#fff";
$almostWhite:hsl(0, 0%, 98%);
$mediumGray:hsl(0, 0%, 41%);
$darkGray:#322D29;
$almostBlack:hsl(0, 0%, 8%);

$lightBeige:#F6F2DF;
$medBrown:#CFC4B3;

//Font
$fontEpilogue: 'Epilogue', sans-serif;

$fontDidactGothic: 'Didact Gothic', sans-serif;
$fontPTSerif: 'PT Serif', serif;
$redactedScript: 'Redacted Script', cursive;